.main
	.logo
		p LOGO HERE
	.menu
		.card#music 
			.t 곡 선택
			.st 츠기노 교쿠와~
		.card#setlist 
			.t 세트리스트
			.st 신, 그는 준고인가
		.card#community 
			.t 커뮤니티
			.st 신촌 목동 2자리 교환합니다!!!!
		.card#notice
			.t 공지사항
		.card#login
			.t 로그인