#app-cover
  #bg-artwork
  #bg-layer
  #player
    #player-track
      #album-art
        #buffer-box Buffering ...
    #player-content
      #album-name
      #track-name
      #track-time
        #current-time
        #track-length
      #s-area
        #ins-time
        #s-hover
        #seek-bar
    #player-controls
      .control
        #play-previous.button
          i.fas.fa-backward.fa
      .control
        #play-pause-button.button
          i.fas.fa-play.fa
      .control
        #play-next.button
          i.fas.fa-forward.fa
