doctype html

head
  link(rel='stylesheet', href='/stylesheets/dbPage.css')
body
  .song.song-new
    h2 New
    form.song-form(action='/db' method='post')
      div
        label(for='title') title
        input#title(type='text' name='title' value='')
      div
        label(for='singer') singer
        input#singer(type='text' name='singer' value='')
      div
        label(for='CV') CV
        input#CV(type='text' name='CV' value='')
      div
        label(for='color') color
        input#color(type='text' name='color' value='')
      div
        label(for='filename') file name
        input#filename(type='text' name='filename' value='')
      div
        label(for='bpm') bpm
        input#bpm(type='text' name='bpm' value='')
      div
        label(for='level') level
        input#bpm(type='text' name='level' value='')
      div
        label(for='production') produciton
        input#bpm(type='text' name='production' value='')

      div
        button(type='submit') Submit