doctype html

head
  link(rel='stylesheet', href='/stylesheets/dbPage.css')
body
  .song.song-new
    h2 New
    form.song-form(action='/db' method='post')
      div
        label(for='title') title
        input#title(type='text' name='title' value='')
      div
        label(for='singer') singer
        input#singer(type='text' name='singer' value='')
      div
        label(for='CV') CV
        input#CV(type='text' name='CV' value='')
      div
        label(for='cover') cover image
        input#cover(type='text' name='cover' value='')
      div
        label(for='mp3') mp3 file
        input#mp3(type='text' name='mp3' value='')
      div
        label(for='lyric_call') lyric call file
        input#lyric_call(type='text' name='lyric_call' value='')
      div
        label(for='bpm') bpm
        input#bpm(type='text' name='bpm' value='')
      div
        label(for='level') level
        input#bpm(type='text' name='level' value='')
      div
        label(for='production') produciton
        input#bpm(type='text' name='production' value='')

      div
        button(type='submit') Submit